{% extends 'base.html.twig' %}

{% block title %}flights - Nouvel ulitisateur{% endblock %}

{% block body %}
   

    <section class="container justify-content-center">
        <div class="row">
            <div class="col text-left">

                <h1 class="mb-3">Création d'un nouvel utilisateur</h1>

                {{ form_start(registrationForm) }}


                <div class="mb-3">
                    {{ form_label(registrationForm.username)}}
                    {{ form_widget(registrationForm.username) }}
                    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(registrationForm.username) }}</div>
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(registrationForm.plainPassword) }}</div>
                </div>
                 <div class="mb-3 p-2">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}

                    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(registrationForm.agreeTerms) }}</div>
                </div>


                    <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
             {{ form_end(registrationForm) }}
            
            </div>
            <div class="return d-flex justify-content-end">
                <button class="btn btn-secondary d-flex">
                    <a style="text-decoration:none; color:#fff;" href="{{ path('admin_user_') }}">
                        <i class="fa-solid fa-rotate-left" style="color: #fff;"></i>
                    Retour à la liste</a>
                </button>
            </div>
        </div>
    </section>

{% endblock %}
