{{ form_start(form) }}
    
    {{ form_label(form.num) }}
    {{ form_widget(form.num) }}

    {{ form_label(form.departure) }}
    {{ form_widget(form.departure) }}
    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.departure)}}</div>

    {{ form_label(form.city_departure) }}
    {{ form_widget(form.city_departure) }}
     <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.city_departure) }}</div>

    {{ form_label(form.arrival) }}
    {{ form_widget(form.arrival) }}
     <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.arrival) }}</div>
   

    {{ form_label(form.city_arrival) }}
    {{ form_widget(form.city_arrival) }}
     <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.city_arrival) }}</div>

    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}
    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.price) }}</div>
   
    {{ form_widget(form.discount) }}
    {{ form_label(form.discount) }}
  

    <br>

    {{ form_label(form.nb_seat) }}
    {{ form_widget(form.nb_seat) }}
    <div class="error w-50 m-1" style="font-size:10px;color:#f73123;">{{ form_errors(form.nb_seat) }}</div>
    

    <button class="btn btn-success m-3">{{ button_label|default('Enregistrer') }}</button>


{{ form_end(form) }}

